* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

#banner {
    width: 100%;
}

h1 {
    font-size: 50px;
    color: rgb(245, 0, 0);
    text-align: center;
    text-transform: uppercase;
}

.textos {
    width: 80%;
    align-content: center;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: blue;
}