* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

#banner {
    width: 100%;
}

h1 {
    font-size: 50px;
    color: rgb(245, 0, 0);
    text-align: center;
    text-transform: uppercase;
}

.textos {
    font-size: 30px;
    text-align: center;
    color: blue;
}