* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

#logo {
    width: 5%;
    height: 5%;
}

.conteiner-pai {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    text-transform:uppercase;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

nav a:hover {
    text-decoration: underline;
    color: #000000;
}

#banner {
    width: 100%;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.textos {
    width: 80%;
    align-content: center;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: black;
    background-color: #cccccc;
}